* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* Header */
header {
  background-color: #000;
  color: #fff;
  padding: 40px 0;
}

header h1 {
  float: left;
}

nav ul {
  float: right;
  list-style: none;
  display: flex;
  gap: 30px;
  justify-content: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  background: url('https://source.unsplash.com/1600x600/?car,driver') center/cover no-repeat;
  color: black;
  padding: 100px 0;
  text-align: center;
}

.hero .btn {
  display: inline-block;
  padding: 10px 20px;
  background: #e67e22;
  color: #fff;
  margin-top: 20px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
}

/* Services */
.services {
  padding: 50px 0;
  background: #fff;
}

.services h2 {
  text-align: center;
  margin-bottom: 40px;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.service {
  color: white;
  background: #e67e22;
  padding: 20px;
  width: 300px;
  border-radius: 8px;
  text-align: center;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  margin-top: 50px;
}

/* véhicule */
.vidéo {
  background: url('https://source.unsplash.com/1600x600/?car,driver') center/cover no-repeat;
  color: black;
  padding: 100px 0;
  text-align: center;
}

.carousel-container {
  width: 100%; /* ou fixe comme 1200px */
  max-width: 1200px;
  overflow: hidden;
  margin: 40px auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

  .carousel-slide {
    display: flex;
    width: 100%; /* 4 images */
    animation: slide 12s infinite;
  }

 .carousel-slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
  flex-shrink: 0;
  background-color: #000;
}

  @keyframes slide {
    0%   { transform: translateX(0); }
    20%  { transform: translateX(0); }
    25%  { transform: translateX(-100%); }
    45%  { transform: translateX(-100%); }
    50%  { transform: translateX(-200%); }
    70%  { transform: translateX(-200%); }
    75%  { transform: translateX(-300%); }
    95%  { transform: translateX(-300%); }
    100% { transform: translateX(0); }
  }

/* déscription */

.description {
  margin-top: -100px;
}

.description h2 {
  margin-bottom: 25px;
}


/*réservation */

.resa {
  background: url('https://source.unsplash.com/1600x600/?car,driver') center/cover no-repeat;
  color: black;
  padding: 100px 0;
  text-align: center;
}

/* Responsive */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    float: none;
    text-align: center;
  }

  header h1 {
    text-align: center;
    float: none;
    margin-bottom: 10px;
  }

  .service-list {
    flex-direction: column;
    align-items: center;
  }
}
