#skills {
  width: 100vw;
  max-width: 65rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.skill-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 50%;
  background-color: #fff;
  padding: 10px;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.skill-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

@media screen and (max-width: 720px) {
  .skill-element {
    width: 80px; /* Modifiez cette largeur selon vos besoins */
  }

  .skill-img {
    width: 60px; /* Modifiez cette largeur selon vos besoins */
    height: 60px; /* Modifiez cette hauteur selon vos besoins */
  }
}

/* Styles pour la modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}


/* Styles circle */
/* Cercle de fond */
svg circle:first-child {
  stroke: #e6e6e6; /* Couleur du cercle de fond */
}

/* Cercle de progression */
svg circle:last-child {
  transform: rotate(-90deg);
  transform-origin: center;
  stroke-linecap: round;
  animation: var(--circle-animation);
}

/* Animation de progression */
@keyframes circleAnim {
  from {
    stroke-dashoffset: 377; /* Valeur initiale de la circonférence */
  }
  to {
    stroke-dashoffset: var(--target-offset); /* Calculée dynamiquement dans React */
  }
}


/* Styles pour le texte du pourcentage */
.modal-content p {
  font-size: 32px; /* Agrandir le texte */
  font-weight: bold; /* Rendre le texte en gras */
  text-anchor: middle; /* Centre horizontalement */

}
