.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%; 
  margin: 0 auto;
  height: 5rem;
  position: relative;
  top: 0;
  z-index: 3;

  /* Fond semi-transparent, légèrement différent du fond de la page */
  background: rgba(158, 60, 60, 0.05); /* Couleur ajustée avec une opacité plus faible */


  color: white;
  backdrop-filter: blur(5px); /* Applique un léger flou derrière la navbar */

  img {
    width: 3rem;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
  }

  .nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 20px;
    cursor: pointer;
    color: #f0f0f0;
    margin: 0 1rem; // Espace entre les éléments de menu
  }

  .nav-menu:hover{
    color:#23e1d7;
  }

  .nav-connect:hover{
    color:#23e1d7;
  }

  .nav-connect {
    padding: 6px 10px;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
    transition: 0.5s;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.1rem;
    color: white;
  }

  /* Styles pour petits écrans */
  @media screen and (max-width: 768px) {
    flex-direction: column; /* Changement de direction pour petits écrans */
    height: auto; /* Ajuster la hauteur */
    padding: 1rem; /* Ajouter un padding */

    .nav-menu {
      font-size: 16px; /* Réduire la taille pour les petits écrans */
      margin: 0.5rem 0; /* Ajuster les marges */
    }

    .nav-connect {
      font-size: 16px; /* Taille du bouton */
      padding: 0.5rem 1rem; /* Ajustement du padding */
    }
  }
}