*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  
}

body{
    background-color:#9e3c3c00 ;
    color: white;
    overflow: hidden;
    overflow-y: scroll; // pour pouvoir scroller 
    
}