*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-image:url(/src/assets/fond.jpg) ;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    color: white;
    font-family: 'outfit', sans-serif;
}